<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/mahasiswa">Mahasiswa</a></li>
        <li><a href="/mataKuliah">Mata Kuliah</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li class="pos-left"><a href="/logout">Log Out</a></li>
    </ul>
</nav>