<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styleNavbar.css">
    <title>Krs Mahasiswa</title>
</head>
<body>
    <%- include('_partialNavbar') %>
    <center>
        <h1>Login</h1>
        <form action="/login" method="POST">
            <label for="username">Username :</label>
            <input type="text" name="username" placeholder="e.g: input your username here"><br><br>
            <label for="password">Password :</label>
            <input type="password" name="password" placeholder="e.g: input your password here"><br><br>
            <input type="submit" value="Login">
        </form>
    </center>
</body>
</html>