<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styleNavbar.css">
    <style>
        div {
            background: #e9f0f7;
            border-radius: 20px;
            height: 250px;
            width: 70%;
            margin: 10% auto;
            padding-top: 10%;
        }

        h1, h2{
            text-align: center;
            margin: auto;
        }
        
        h2 {
            margin-top: 10px;
        }

    </style>
    <title>Krs Mahasiswa</title>

</head>
<body>
    <%- include('_partialNavbar') %>

    <div>
        <h1>Selamat Datang !</h1>
        <h2 id="sub">Terimakasih telah bergabung bersama kami</h2>
    </div>
</body>
</html>